
<body>
    <div id="container">
        <h1>Enter your employee info.</h1>
        <form action="/saveEmpEntry" method="post">
            <span id="err" style="color: red;"></span>
            <br>
            <label for="firstName">Enter Your Employee First Name.</label>
            <br>
            <input type="text" name="firstName" id="EmpFName">
            <br>
            <label for="lastName">Enter Your Employee Last Name.</label>
            <br>
            <input type="text" name="lastName" id="EmpLName">
            <br>
            <label for="departement">Select Your Employee Departement.</label>
            <br>
            <select name="departement"><option value="Cashier">Cashier</option><option value="Tech Sales">Tech Sales<option value="Print Associate">Print Associate</option></option></select>
            <br>
            <label for="startDate">Enter Your Employee Start Date.</label>
            <br>
            <input type="date" name="startDate" id="EmpStart">
            <br>
            <label for="jobTitle">Enter Your Employee Job Title.</label>
            <br>
            <input type="text" name="jobTitle" id="EmpTitle">
            <br>
            <label for="salary">Enter Your Employee Salary.</label>
            <br>
            <input type="text" name="salary" id="EmpSal">
            <br>
            <button type="submit">Submit Employee</button>
        </form>
    </div>
</body>
